<!-- Hero section -->
<div class="container mx-auto pb-12 no-h-screen">
  <div class="text-center px-3 lg:px-0">
    <h1
        class="my-4 text-2xl md:text-3xl lg:text-5xl text-gray-200 font-light leading-tight text-balance"
        >
        Cross-platform collaboration tools for music makers.
    </h1>

    <p
        class="leading-normal text-gray-300 text-base md:text-xl lg:text-2xl mb-8 text-balance"
        >
        Easy project sharing with collaborators and automatic backup of every change
    </p>

      <p
        class="leading-normal text-gray-300 text-base md:text-xl lg:text-2xl mb-8"
        >
        Works with:
    </p>

    <div class="justify-center flex flex-wrap gap-8 text-gray-300 text-base md:text-md lg:text-md">
      <div class="flex-col flex items-center">
        Logic Pro X <br/>
        <%= image_tag 'logic-pro-x.png', class: 'h-24 w-24 mt-2', alt: "Logic Pro X" %>
      </div>
      <div class="flex-col flex items-center">
        Ableton Live<br/>
        <%= image_tag 'ableton-live.png', class: 'h-24 w-24 rounded-2xl mt-2', alt: "Ableton Live" %>
      </div>
      <div class="flex-col flex items-center">
        Avid Pro Tools<br/>
        <%= image_tag 'avid-pro-tools.png', class: 'h-24 w-24 rounded-2xl mt-2', alt: "Avid Pro Tools" %>
      </div>
      <div class="flex-col flex items-center">
        Bitwig Studio<br/>
        <%= image_tag 'bitwig-studio.png', class: 'h-24 w-24 rounded-2xl mt-2', alt: "Bitwig Studio" %>
      </div>
    </div>

    <p
        class="leading-normal text-gray-300 text-base md:text-xl lg:text-2xl mt-8 text-balance"
        >
        MacOS &amp; Windows
    </p>


  </div>


            <%#= image_tag 'hero-screenshot.png', class: 'w-max mx-auto border-solid rounded' %>

  <!--
            <div class="flex items-center w-full mx-auto content-end">
              <div
                  class="browser-mockup flex flex-1 m-6 md:px-0 md:m-12 bg-white w-1/2 rounded shadow-xl"
                  ></div>
            </div>
  -->
</div>
