---
title: Seshy Pricing
---

<div class="border border-dashed rounded-lg border-yellow-500 bg-yellow-200 dark:bg-opacity-10 dark:border-yellow-200 dark:border-opacity-70 dark:text-white mb-8 p-3 xl:py-4 xl:px-4 xl:-mx-4">
  Note: This page is a work in progress. The prices below are subject to change before launch.
</div>

<div class="flex items-center justify-center noborder-b mb-8 nopb-8">
  <div class="prose dark:prose-invert flex-1 pb-8 noborder rounded-xl">
    <h1 class="text-center">Seshy Pricing</h1>
    <p>Seshy is a tool for collaboration and cloud storage of DAW sessions.</p>
    <p>It's always free to collaborate on projects.</p>
    <p>You only <b>pay for</b> storage of <b>projects you own</b>.</p>
    <p>You can collaborate with others by creating <a href="/teams/">teams</a> and sharing projects with them.</p>
    <p>Teams are free, and you can have as many as you need. (Within reason. This is a collaboration tool, not a file distribution platform.)</p>
    <p>It <b>doesn't cost you anything</b> to contribute to projects that are <b>owned by others</b>.</p>
  </div>
</div>

<div class="flex items-center justify-center noborder-b mb-2 nopb-8">
  <div class="prose dark:prose-invert flex-1 pb-2">
    <h2 class="text-center">Benefits</h2>
  </div>
</div>



<div class="items-center justify-center noborder-b mb-8 nopb-8">
  <div class="pb-8 md:flex">
    <div class="prose dark:prose-invert border p-4 m-4 rounded-xl flex-1 nodrop-shadow-md">
      <h3>Collaboration</h3>
      <p>Seshy handles all the messy details about efficiently transporting complex DAW sessions from one computer to another.</p>
      <p>Teams make it effortless for you to work with repeat collaborators and it's easy to invite new ones.</p>
    </div>

    <div class="prose dark:prose-invert border p-4 m-4 rounded-xl flex-1 nodrop-shadow-md">
      <h3>Backup</h3>
      <p>Every change you make to a session is automatically backed up to the cloud as long as you have Seshy running.</p>
      <p>If anything happens to your studio computer you'll be able to recover all of your projects from the cloud.</p>
    </div>

    <div class="prose dark:prose-invert border p-4 m-4 rounded-xl flex-1 nodrop-shadow-md">
      <h3>Archiving</h3>
      <p>Store every version of your projects, so that if you decide that you've taken a wrong turn, it's easy to go back to a previous version.</p>
      <p>Make any change you want without fear of making an irreversible mistake.</p>
    </div>
  </div>
</div>

<div class="flex items-center justify-center noborder-b mb-8 nopb-8">
  <div class="prose dark:prose-invert flex-1 pb-8 noborder rounded-xl p-4">
    <h2 class="text-center">What do subscriptions include?</h2>
    <p>
      Every plan comes with a <b>Storage Pool</b> to cover projects that you own and some plans include a number of
      <b>Umbrella Subscriptions</b> to allow you to extend your storage pool to additional teams. (This means you don't
      need multiple subscirptions if you're in multiple bands, for instance.)
    </p>
    <p>All paid plans allow for <b>Unlimited Projects</b>, <b>Unlimited Teams</b>, and <b>Unlimited Collaborators</b>.</p>
    <p>
      <a href="/subscriptions/">Learn more about how subscriptions work.</a>
    </p>
  </div>
</div>




<div class="flex items-center justify-center noborder-b nomb-8 pb-4">
  <div class="flex-1 pb-8 ">

    <div class="md:flex">
      <div class="prose dark:prose-invert border p-4 m-4 rounded-xl flex-1 nodrop-shadow-md">
        <h3>Storage Pool</h3>
        <p>The <b>Storage Pool</b> is the maximum amount of project data that your team can own. Collaborating on projects owned by others is free.</p>
        <div class="flex items-center justify-center">
          <!--<img src="/images/subscriptions/solo.png" alt="Storage Pool" class="drop-shadow-none"/>-->
          <img src="/images/subscriptions/storage_pool.png" alt="Storage Pool" class="drop-shadow-none"/>
        </div>
      </div>
      <div class="prose dark:prose-invert border p-4 m-4 rounded-xl flex-1 nodrop-shadow-md">
        <h3>Umbrella Subscriptions</h3>
        <p><b>Umbrella Subscriptions</b> allow you to share your <b>Storage Pool</b> with other teams.</p>
        <div class="flex items-center justify-center">
          <!--<img src="/images/subscriptions/band.png" alt="Umbrella Subscriptions" class=""/>-->
          <img src="/images/subscriptions/umbrella_subscriptions.png" alt="Umbrella Subscriptions" class=""/>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="noflex noitems-center justify-center border-b mb-8 pb-8">
  <%= partial 'pricing/table' %>
  <div class="flex itemx-center justify-center">
    <a
        href="https://app.seshy.me/users/sign_up"
        id="navAction"
        class="bg-emerald-600 text-white hover:bg-emerald-700 p-4 rounded"
        >
        Sign Up Today To Get Started
    </a>
  </div>
  <div class="flex itemx-center justify-center mt-8">
    <p class="text-center">
      <b>Note: This is pre-release info about pricing and subscriptions are not yet available.<br/>They'll become available later this summer.</b>
    </p>
  </div>
</div>

<div class="flex items-center justify-center border-b mb-8 pb-8">
  <div class="prose dark:prose-invert flex-1 pb-8 ">
    <h2>Don't see a plan that works for you?</h2>
    <p>If you're looking for something different, I'd love to hear from you. I'm sure we can work something out.</p>

    <p>
      <a href="mailto:jeremy@seshy.me?subject=Custom Seshy Pricing" target="_blank">Please contact me by email and let me know what you're looking for.</a>
    </p>

  </div>
</div>






<div class="flex items-center justify-center border-b mb-8 pb-8">
  <div class="prose dark:prose-invert flex-1 pb-8 ">
    <!--
    <h2>Example Scenarios</h2>

    <h3>Contributor</h3>
    <p>If a friend or band mate invites you to contribute to one of their projects it won't cost you anything.</p>
    <p>You can download any projects that they share with you, and any changes you make will be automatically shared with them.</p>
    <p>If you start a new project you can request to transfer it to your friend or band mate. If they accept the project then it will count towards their storage quota.</p>
    <p>The Contributor plan comes with enough storage that you should be able to have at least a couple of works-in-progress that haven't been handed off yet.</p>

    <h3>Solo Artist</h3>
    <p>As a solo artist you might be using Seshy primarily as a backup and archiving tool.</p>
    <p>But you might want to work with some collaborators every now and then.</p>
    <p>When you want to work with someone else, like a guest musician or a mix/master engineer, then you can create a team, invite them to the team, and then share projects with them.</p>
    <p>When your collaborators make any changes to the sessions you've shared with them those changes will be automatically uploaded to Seshy.</p>

    <h3>Band</h3>
    <p>A band might use Seshy for a mix of collaboration and archiving.</p>
    <p>You'd have one team that represents your core band. Any time someone starts a new project they can transfer ownership to the band team.</p>
    <p>Then you might have another team that's the core band plus your mix/master engineer.</p>
    <p>If you wanted to bring in a guest musician for just a track or two, you can create another team for that.</p>

    <h3>Producer</h3>
    <p>A producer might use Seshy for both collaboration and archiving.</p>
    <p>You'd have teams for each artist that you're working with, or for each combination of artists who are all working together.</p>
    -->

    <h2>Studios - Contact Me</h2>
    <p>If you're with a studio or need more than 1 TB of storage then I'd love to hear from you.</p>
    <p>I'd like to learn more about your needs and would be happy to tailor a plan specifically for you.</p>
    <p>
      <a href="mailto:jeremy@seshy.me?subject=Seshy Pricing For Studios" target="_blank">Please contact me by email and we'll craft a plan that's specific to your needs.</a>
    </p>
  </div>
</div>



